/* body{
    background: url("./images/bgpalin.jfif"); 
   
    height: 100%;
    background-size: cover; 
} */


#Logo img{
    width: 50%;
    height: 70%;
    padding-top: 20px;
    
}
.main{
    /* background-color: rgba(155, 214, 223, 0.837); */
    background-color: rgba(217, 244, 245, 0.864);
}


