body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
}
.logo img{
    margin-top: 160px;
   
    height: 250px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.full-body{
    /* background-image: url(images/bgpalin.jfif); */
    background-color: hsla(210, 92%, 19%, 0.925);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title{
    font-size: 40px;
   
}
.launch{
   font-weight: 700;
}
@media(max-width:320px){
    .main{
        margin-top: 35px;
    }
}


/* @media(min-width:766px){
    .logo img{
        margin-top: 160px;
       
       
    }
}  */

/* @media(min-width:768px){
    .logo img{
        margin-top: 40%;
        
    }
}  */

@media(max-width:414px){
    .logo img{
        margin-top: 30%;
        
        
    }
    .title{
        font-size: 30px;
    }
} 



